.content{
    display: inline-block;
}

.posts img{
    width: 300px;
    height:auto;
}

.posts{
    display: inline-block;
    text-align: center;
    margin: 1px 1px 1px 1px;
}

figure{
    margin: 0;
}