*{
    color: #9a9a9a;
    background-color: #151621;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

.Navigation_bar{
    background-color: #282a40;
    padding: 5px;
    width: 100%;
    height: 10%
}

.Navigation_bar table {
    background-color: #282a40;
}

.Navigation_bar table th {
    background-color: #282a40;
}

.Navigation_bar a {
    display: table;
    background-color: #282a40;
    text-decoration: none;
}

.Navigation_bar a:hover {
    text-decoration: underline;
}

.Navigation_bar img{
    background-color: #282a40;
    display: block;
}

.submission_table{
    border-style: solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.submit_title{
    background-color: #282a40;   
}

#title {
    border-radius: 5px;
    border-style: solid;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: medium;
}

label #post_body{
    margin-top: auto;
    margin-bottom: auto;
}

#post_body{
    border-radius: 5px;
    border-style: solid;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: medium;
}

#image_caption{
    border-radius: 5px;
    border-style: solid;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: medium;
}

.image_warning{
    margin: 0;
    font-size: small;
}

button{
    border-radius: 12px;
}