{%extends "base.html" %}

{%block head%}
{{super()}}
<link type="text/css" rel="stylesheet" href="/static/css/index.css">
{%endblock%}

{%block content%}
<div class="preview_portal">
    <!--Austin's preview portal.-->
    <table>

        <tr>
            <th class="name_bar"><a href='/austin'>Austin</a></th>
        </tr>

        <tr>
            <th>
                Image Slider Goes here
            </th>
        </tr>

        <tr>
            <th>
                A description that matches the image goes here.
            </th>
        </tr>
    </table>

</div>

<div class="preview_portal">
    <!--Adam's preview portal.-->

    <table>
        <tr>
            <th class="name_bar"><a href="/adam">Adam</a></th>
        </tr>

        <tr>
            <th>
                Image Slider Goes here
            </th>
        </tr>

        <tr>
            <th>
                A description that matches the image goes here.
            </th>
        </tr>
    </table>

</div>

<div class="preview_portal">
    <!--Guest's preview portal.-->
    <table>

        <tr>
            <th class="name_bar"><a href='/guest'>Guests</a></th>
        </tr>

        <tr>
            <th>
                Image Slider Goes here
            </th>
        </tr>

        <tr>
            <th>
                A description that matches the image goes here.
            </th>
        </tr>
    </table>

</div>

<div class=submit_button>
    <a href="/submit">
        <button>Submit a new post!</button>
    </a>
</div>

{%endblock%}