{%extends "base.html" %}

{%block head%}
{{super()}}
<link type="text/css" rel="stylesheet" href="/static/css/base.css">
<link type="text/css" rel="stylesheet" href="/static/css/not_found.css">
{%endblock%}

{%block content%}
<div class="not_found_page">
    <p>Well well well, it looks like you're poking around where you shouldn't be.
        Please take a look around and let us know if you find anything noteworthy.
    </p>

    <iframe src="https://giphy.com/embed/n3p6JiIG0TzCU" width="480" height="372" frameBorder="0" class="giphy-embed"
        allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/cube-neat-zoomed-n3p6JiIG0TzCU">via GIPHY</a></p>

    <p>This is a 404 page if that wasn't readily apparent. </p>
</div>
{%endblock%}