{%extends "base.html" %}

{%block title%}Developer: Adam Dugas{%endblock%}

{%block head%}
{{super()}}
<link type="text/css" rel="stylesheet" href="/static/css/submit.css">
{%endblock%}

{%block content%}
<table class='submission_table'>
    <tr>
        <th class='submit_title'>Submit a new post</th>
    </tr>
    <tr>
        <td>{{template_form.title.label}} {{template_form.title}}</td>
    </tr>
    <tr>
        <td>{{template_form.post_body.label}} {{template_form.post_body}}</td>
    </tr>
    <tr>
        <td>{{template_form.image.label}} {{template_form.image}}</td>
    </tr>
    <tr>
        <td>{{template_form.image_caption.label}} {{template_form.image_caption}}</td>
    </tr>
    <tr>
        <td>{{template_form.submit}}</td>
    </tr>
</table>
{%endblock%}